

.featured-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;

  margin-top: 60px;
}
.next-preview,
.back-preview {
  width: 55px;
  height: 110px;

  border: none;

  background: rgba(0, 0, 0, 0.25);

  color: #ffffff;

  font-size: 38px;

  cursor: pointer;

  transition: all 0.3s ease;

  border-radius: 8px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.next-preview:hover,
.back-preview:hover {
  transform: scale(1.05);

  box-shadow: 0 0 20px rgba(103, 193, 245, 0.4),
    0 0 40px rgba(103, 193, 245, 0.15);
}

.next-preview:active,
.back-preview:active {
  transform: scale(0.95);
}

.featured-card {
  position: relative;

  width: 950px;
  height: 420px;

  display: flex;

  background: #0f172a;

  border-radius: 8px;

  overflow: hidden;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.featured-card::before {
  content: "";

  position: absolute;

  inset: -2px;

  border-radius: 10px;

  background: linear-gradient(
    90deg,
    #7c3aed,
    #ec4899,
    #8b5cf6,
    #f472b6,
    #7c3aed
  );

  background-size: 400% 400%;

  animation: neonBorder 4s linear infinite;

  z-index: -1;
}

@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.featured-card::before {
  filter: drop-shadow(0 0 8px #a855f7) drop-shadow(0 0 16px #ec4899)
    drop-shadow(0 0 24px #7c3aed);
}

.featured-left {
  width: 70%;
  height: 100%;
}

.featured-left img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}


.featured-right {
  width: 30%;

  padding: 22px;

  background: linear-gradient(180deg, #111827, #0b1020);

  display: flex;
  flex-direction: column;

  gap: 18px;
}

.featured-right h1 {
  color: white;
  font-size: 38px;
  font-weight: 600;
}

.mini-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.mini-images img {
  width: 100%;
  height: 80px;

  object-fit: cover;
}


.featured-right h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.tag {
  width: fit-content;

  padding: 6px 12px;

  background: #2563eb;

  color: white;

  border-radius: 4px;

  font-size: 14px;
}

.featured-right p {
  color: #9ca3af;
  font-size: 18px;
}
