.sessao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conta{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}

.botao{
    border-radius: 10px;
}

.bt-controle{
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}
